$userbox-width: 150px;

.search-form {

    .form-control {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

}

.users {
    li {
        border: 1px solid $laravel-border-color;
        border-radius: 5px;
        overflow: hidden;
        vertical-align: top;
        height: 200px;

        img {
            width: $userbox-width;
            height: $userbox-width;
        }

        .name {
            margin: 0;
            max-width: $userbox-width;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
