.full-height {
    height: calc(100vh - 150px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 84px;
    font-weight: 100;
    font-family: Raleway, serif;
    text-align: center;
}

.claimed {
    opacity: 0.5;
    text-decoration: line-through;
    pointer-events: none;
    color: #444;
}

.alert {
    text-align: center;
}

.user-info {
    margin-left: 115px;
    position: relative;
}

.user-avatar {
    width: 100px;
    height: 100px;
    float: left;
}

.user-username {
    display: inline-block;
    margin: 0;
}

.separator {
    margin: 0 5px;
}

.user-bio {
    margin: 10px 0;
}

.edit-user {
    position: absolute;
    top: 0;
    right: 0;
}
