.full-height {
    height: calc(100vh - 150px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 84px;
    font-weight: 100;
    font-family: Raleway, serif;
    text-align: center;
}

.claimed {
    opacity: 0.5;
    text-decoration: line-through;
    pointer-events: none;
}

.claimed a {
    color: #444;
}
