.message {
    .avatar {
        margin-right: 5px;
    }

    .permalink {
        color: inherit;
    }

    .message-body,
    .message-answer {
        margin-bottom: 15px;
    }

    .message-body:last-child,
    .message-answer:last-child {
        margin-bottom: 0;
    }

    .keep-reading-link {
        display: inline-block;
    }
}
