
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

[rel="external"]:after {
    content: '\00a0↗️';
}

.full-height {
    height: calc(100vh - 150px);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.panel-heading {
    position: relative;
}

.panel-body > *:first-child {
    margin-top: 0;
}

.title {
    font-size: 84px;
    font-weight: 100;
    font-family: Raleway, serif;
    text-align: center;
}

.claimed {
    opacity: 0.5;
    text-decoration: line-through;
    pointer-events: none;
    color: #444;
}

.alert {
    text-align: center;
}

.button-form {
    display: inline-block;
}

.inbox-nav {
    margin-bottom: 15px;
}

.pagination-wrapper {
    text-align: center;
}

.pagination {
    margin: 0;
}

.user-info {
    position: relative;
}

.user-avatar {
    width: 100px;
    height: 100px;
    float: left;
}

.user-username {
    display: inline-block;
    margin: 0;
}

.separator {
    margin: 0 5px;
}

.user-bio {
    margin: 10px 0;
}

.edit-user {
    display: block;
}

@media screen and (min-width: 500px) {
    .edit-user {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
}

.message-body,
.message-answer {
    margin-bottom: 15px;
}

.message-body:last-child,
.message-answer:last-child {
    margin-bottom: 0;
}

.logout-link {
    position: absolute;
    left: 0;
    padding-left: 15px;
}
